name: Lint Go

# run only if go-files is changed
on:
  push:
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"

      - name: Run golangci
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          args: --timeout 5m
